**/*

!.gitignore
!.git

!requirements.txt

!assignment1/digits.py
!assignment1/Joseph_Yoo_Assignment1.ipynb

!assignment2/digits.py
!assignment2/Joseph_Yoo_Assignment2.ipynb

!assignment3/Joseph_Yoo_Assignment3.ipynb

!assignment4/assignment4_JY.ipynb